/* .conv-header-container svg {
    margin-left: 0.5vh;
    color: white;
    background-color: rgb(112, 110, 110, 0.2);
    padding: 0.8vh;
    border-radius: 50%;
    cursor: pointer;
  }
  .conversations-header {
    font-weight: bold;
    font-size: 2.5vh;
    margin-bottom: 1vh;
  } */
  .chat-head-main{
    padding-left: 2.5vh;
    padding-right:4vh;
    width: 90%;
  }
  .chat-list-header{
    font-weight: bold;
    font-size: 2.5vh;
    padding-left: 5vh;
    border-radius: 5px;
    margin-bottom: 2px;
  }
  .chat-head-items:hover{
    background-color: rgb(221, 224, 227);
  }
  .chat-head-items{
    display: flex;
    align-items: center;
    cursor:pointer;
  }
 