.navigation{
    display:flex;
    background-color: rgb(152, 211, 217);
    min-height:12vh;
    justify-content: flex-end;
    padding-left: 30px;
    padding-top: 5px;
}
.logout-btn{
    display:flex;
    flex: 10px;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:60%;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bclass{
    padding-top: 25px;
    padding-left: 65%;
}
h3{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}