.navigation{
    display:flex;
    background-color: rgb(158, 175, 175);
    min-height:10vh;
    justify-content: flex-start;
    padding-left: 30px;
}
.logout-btn{
    display:flex;
    flex: 10px;
    justify-content: space-around;
    align-items: center;
    width:100%;
    list-style: none;
}
.bclass{
    padding-top: 25px;
    padding-left: 65%;
}